@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 600px) {
  .sidebar{
    display:none
  }
} Este codigo lo que me permite si lo exporto en el proyecto es que para pantallas menores a la resolución de 600px no va a mostrar el sidebar es reponsive*/

.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2393be;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
  }
  
  .button:hover {
    background-color: #007CCA;
    color: white;
  }
  .button:active {
    background-color: #3da2dd;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
  }
  
  .espacios{
    margin: 10px;
    padding: 30px;
  }
  
  